.hero {
	padding: 80px 0;
	background-color: $blueDark;
	color: $blueLight;

	&-inner {

		h1 {
		  	white-space: nowrap;

		  	.wrap {
    			border-right: 0.06em solid;
    			padding-right: 10px;
    			animation: blink-caret .75s infinite;
    		}
		}
	}
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: $white; }
}