.portfolio {
	margin-bottom: 40px;

	&-item {
		margin-bottom: 20px;
		text-align: center;

		img {
			border-radius: 4px;
			margin-bottom: 10px;
		}
		a {
			text-decoration: none;
			transition: .3s all ease-in-out;

			&:hover {
				color: $blueDark;
			}
		}
	}
}